sentence-transformers
numpy
scikit-learn
accelerate
transformers
torch
pypdf
python-docx
fastapi
uvicorn
mcp
duckduckgo-search
Pillow
youtube-transcript-api
openai
anthropic
google-generativeai
python-dotenv
